.add-product-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 280px;
}

.add-product-wrapper input {
  width: 280px;
  margin-bottom: 20px;
}

.radio-input {
  width: 20px !important;
  margin-bottom: 0 !important;
}

.number-input {
  width: 45% !important;
}

.radio-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 20px;
}

.save-button {
  display: inline-block;
  width: 280px;
}

.radio-input-edit {
  margin-left: 0;
}

.edit-input {
  width: 218px;
  margin: 20px 0 10px 0;
}

.save-button-edit {
  margin: 0 10px;
}

.edit-submit {
  margin-top: 10px;
}

.edit-select-button {
  width: 107px;
  font-size: 14px;
  margin-top: 5px;
}

.right-button {
  margin-left: 4px;
}

.shipment-button {
  width: 104px;
}

.shipment-input {
  width: 218px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.shipment-wrapper {
  display: flex;
  flex-direction: column;
}

.shipment-right-button {
  margin-left: 10px;
}

.number-input-wrapper {
  display: flex;
  justify-content: space-between;
}
