li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.submit-button {
  display: inline-block;
}

.register-wrapper {
  display: flex;
  justify-content: space-between;
}

.bought-list-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-list {
  background-color: whitesmoke;
  max-width: 218px;
  max-height: 218px;
  overflow: scroll;
  max-height: 500px;
}

.item-search {
  width: 218px;
}

.product-list-item:hover {
  background-color: rgba(128, 128, 128, 0.25);
}

.amount-info {
  margin-top: 20px;
  margin-bottom: 5px;
}

.number-input {
  max-width: 150px;
}

.bought-amount {
  text-align: right;
}

.price-display {
  text-align: end;
}
